/src-tauri/target/
/src-tauri/gen/
/design/

.env
.env.*
.idea/
.vscode/

*.log
*.tmp
*.bad-*.json

*.p12
*.pfx
*.pem
*.key
*.crt
*.cer
*.mobileprovision

*.dSYM/
*.app/
*.msi
*.dmg
*.exe

!src-tauri/icons/*.ico
!src-tauri/icons/*.png
